@use 'variables' as *; 

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr {

    &:first-child {  
      background: #2c3e50;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    }

    th {
      padding: 20px 15px;
      text-align: left;
      color: var(--secondary-color);
    }
    
    td {
      text-align: left;
      vertical-align:middle;
      border-bottom: solid 2px var(--primary-color);
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding: 20px 15px;

      a {
        background: var(--secondary-color);
        color: #2c3e50;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;

        &:hover {
          background-color: var(--secondary-color-hover);
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  table {
    display: block;

    tr {
      display: block;

      &:first-child {
        height: 5px;
        background: var(--secondary-color)
      }

      th {
        display: none;
      }
  
      td {
        display: block;
        padding: 10px 0;
        border-bottom: none;
        font-size: 16px;

        &:before {
          content: attr(data-title);
          color: var(--secondary-color);
          margin-bottom: 3px;
          min-width: 98px;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          display: block;
          opacity: 0.8;
        }

        &:last-child {
          border-bottom: solid 2px var(--primary-color);
        }

        a {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}