<section>
  <h1 class="title">Users</h1>
  <app-loading-error-wrapper
    [retry]="fetchUsers.bind(this)"
  >
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>Action</th>
      </tr>
      <tr data-test="user-row" *ngFor="let user of users">
        <td data-test="name" data-title="Name">{{ user.name }}</td>
        <td data-test="email" data-title="Email">{{ user.email }}</td>
        <td data-test="website" data-title="Website">{{ user.website }}</td>
        <td>
          <a data-test="user-detail-link" [routerLink]="['/user', user.id]">
            View Detail
          </a>
        </td>
      </tr>
    </table>
  </app-loading-error-wrapper>
</section>