<section>
  <h1 class="title">Users</h1>
  <app-loading-error-wrapper
    [retry]="fetchUsers.bind(this)"
  >
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of users">
        <td data-title="Name">{{ user.name }}</td>
        <td data-title="Email">{{ user.email }}</td>
        <td data-title="Website">{{ user.website }}</td>
        <td>
          <a [routerLink]="['/user', user.id]">
            View Detail
          </a>
        </td>
      </tr>
    </table>
  </app-loading-error-wrapper>
</section>